* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #3a8ef8, #8a5cd1);
    padding-top: 10px;
}

#headerSection {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;;
}
hr{
    margin-top: 15px;
}
#bodySection {
    max-width: 400px;
    width: 90%;
    margin-top: 30px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #3a8ef8;
}

button {
    padding: 12px;
    font-size: 1em;
    color: #fff;
    background-color: #3a8ef8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #3572e2;
}

a {
    margin-top :10px;
    color: #3a8ef8;
    text-decoration: none;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    #headerSection {
        font-size: 1.5em;
        padding: 15px;
    }

    #bodySection {
        padding: 20px;
    }
}
